.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}


@media (min-width: 600px) {
  form {
    max-width: 600px;
    margin: 0 auto;
  }
}


@media (min-width: 1024px) {
  form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 15px;
  }

  label {
    grid-column: 1 / 2;
    text-align: right;
    margin-right: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] 
  input[type= "contact"]{
    grid-column: 2 / 3;
  }

  .feedback {
    grid-column: 2 / 3;
  }

  button {
    grid-column: 2 / 3;
    justify-self: start;
  }

  .valid-feedback {
    grid-column: 2 / 3;
  }
}
