.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}


/* Mobile First Design */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


/* Tablet and Small Laptop Styles */
@media (min-width: 600px) {
  
}

/* Larger Desktop Styles */
@media (min-width: 1024px) {
  body {
      max-width: 1200px;
      margin: 0 auto;
  }

}

