body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cea0a0;
    color: #362929;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 200px auto;
    gap: 20px;
    padding: 20px;
    background-color: #dd9898;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    grid-template-areas: 
        "item1 item1 item2"
        "item3 .     item4"
        ".     .     .";
}

.grid-item {
    background-color: #912626;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(68, 51, 51, 0.1);
}

.grid-item#item1 {
    grid-area: item1;
}

.grid-item#item2 {
    grid-area: item2;
}

.grid-item#item3 {
    grid-area: item3;
}

.grid-item#item4 {
    grid-area: item4;
}
