/* Reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('/Final-Project/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

/* Header and Navbar styles */
header {
    background-color: #48968b;
    padding: 10px;
    font-size: 30px; /* Increased font size for header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo h1 {
    color: #e2cd56;
    font-size: 1.5em;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu ul li {
    margin: 0 15px;
    position: relative;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s;
}

.navbar-menu ul li a:hover {
    color: #ffd700;
}

/* Main content styles */
main {
    flex: 1;
    padding: 20px;
    display: grid;
    place-items: center; /* Center the child elements */
}

/* Footer styles */
footer {
    background: #8b9eb1;
    text-align: center;
    padding: 1em 0;
    color: white;
    margin-top: auto;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center align grid container */
}

.grid-item {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-areas:
        "canvas"
        "info";
    gap: 20px;
}

.grid-item:hover {
    transform: translateY(-5px);
}

/* Responsive Layout */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-menu ul li {
        margin: 10px 0;
    }
}

/* Additional styles for Hangman game */
#hangmanGame {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

#wordDisplay {
    font-size: 2rem;
    margin: 20px 0;
}

#guessInput {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
